<h1> this is our home page </h1>
<div class= "container">
<div class= "jumbotron">
<h1> activity overlord </h1>
<h2> .... tracikng app activity</h2>
<a href = "user/new" class = "btn-lg btn-success"> sign up now </a>
</div>
</div>