<ion-view view-title="Balance" align-title="left">
    <ion-content style="background: url(img/login.png) center; background-size: cover;  filter: blur(30px);">
        <div class="content has-header">
            <div class="content">
                <div class="app-icon"></div>
            </div>
        </div>
        <div class="list card own-card calm-bg">
		  <a class="item item-icon-left">
		    <i class="icon ion-home"></i>
		    Gross Balance : <span style="margin-left: 8em; ">$ 3 051 .50 </span>
		    
		  </a>

		<a class="item item-icon-left">
		    <i class="icon ion-home"></i>
		    Last Transaction : <span style="margin-left: 6em; font-color: green;">+ $ 1 051 .50 </span>
		    
		  </a>
		  
        </div>
        
	
	<div class="own-padding-transaction">
            <button ui-sref="app.profile" class="button button-full button-calm ink ion-paper-airplane"> Recent Transactions</button>
        </div>

    </ion-content>
</ion-view>
