<form action="/user/create" method="POST" class="form-signin">
<h2 class="form-signin-heading">create an account</h2>

<div class= "control-group">
<input type="text" class="form-control" placeholder="your name" name="name">
<br/>
</div>

<div class= "control-group">
<input type="text" class="form-control" placeholder="your title" name="title">
<br/>
</div>

<div class= "control-group">
<input type="text" class="form-control" placeholder="email address" name="email">
<br/>
</div>

<div class= "control-group">
<input type="text" class="form-control" placeholder="password" name="password">
<br/>
</div>

<div class= "control-group">
<input type="text" class="form-control" placeholder="password  confirmation" name="confirmation">
<br/>
<br/>
</div>


<input type="submit" class="btn btn-lg btn-primary btn-block" value="create Account" />
<input type="hidden" name="_csrf" value="<%= _csrf %>" />  
</form>