body
  background-image url('background.png')

#top
  position absolute
  left -2px
  top -4px

#penny
  position relative
  left 10px
  top -10px

#balance
  position absolute
  left 50px
  top 70px
  font-size 17px

#user
  position absolute
  right 30px
  top 70px
  font-size 15px

.home, .deposit, .offers, .pay, .card, .world, .trade
  position absolute
  top 75px

.home
  left 300px

.deposit
  left 411px

.offers
  left 531px

.pay
  left 651px

.card
  left 755px

.world
  left 875px

.trade
  left 1001px

.frame
  position absolute
  left 0px
  top 150px

.home,.offers,.deposit,.pay,.card, .world, .trade
  transition all .2s ease-in-out

.home:hover,.offers:hover,.deposit:hover,.pay:hover,.card:hover,.world:hover,.trade:hover
  transform scale(1.1)

