
<body>
    

        <div id='content' class='row-fluid'>
            <div class='span12 main thumbnail'>
                <form class="form-horizontal">
                    <h2>Welcome</h2>
                    <div class="control-group">
                        <label class="control-label" for="login">Login:</label>
                        <div class="controls">
                            <input type="text" id="login"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password">Password:</label>
                        <div class="controls">
                            <input type="password" id="password" />
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary button-add-confirm">Submit</button>
                            or <a href="register">Sign Up</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    
</body>

